RULE entry {{methodSignure}}
{{TYPE}} ^{{className}}
METHOD {{method}}
AT ENTRY
BIND invocation:com.etz.replay.unit.context.Invocation=new com.etz.replay.unit.context.Invocation();
_args:Object[]=java.util.stream.Stream.of($*).skip(1).toArray();
currentInvocationContext:com.etz.replay.unit.context.InvocationContext=com.etz.replay.unit.context.InvocationContext.getCurrent(true);
IF currentInvocationContext.entryIncr("{{methodSignure}}")
DO   traceln("entry : {{className}}::{{methodSignure}}");
invocation.setMethod("{{methodSimpleName}}");
invocation.setMethodSignure("{{methodSignure}}");
invocation.setThisRef($0);
invocation.setClazz($0==null?{{className}}.class:$0.getClass());
com.etz.replay.unit.classmap.SubjectContext.saveObjectsRef($0,"{{methodSignure}}",_args);
currentInvocationContext.push("{{methodSignure}}",invocation,_args);
ENDRULE