RULE exit  {{methodSignure}}
{{TYPE}} ^{{className}}
METHOD {{method}}
AT EXIT
BIND   _args:Object[]=java.util.stream.Stream.of($*).skip(1).toArray();
currentInvocationContext:com.etz.replay.unit.context.InvocationContext=com.etz.replay.unit.context.InvocationContext.getCurrent(false);
IF currentInvocationContext!=null&&currentInvocationContext.entryMinus("{{methodSignure}}")
DO   traceln("exit : {{className}}::{{methodSignure}}");
currentInvocationContext.pop("{{methodSignure}}",_args,$!,null);
com.etz.replay.unit.classmap.SubjectContext.cleanObjectsRef($0);
ENDRULE