package com.etz

import spock.lang.Specification;
import com.etz.replay.unit.context.JsonUtil;

class {{name}}Spec extends Specification {
void verify{{method}}() {
given:
{{subjectDecl}}
{{#mockDecl}}
    {{.}}
{{/mockDecl}}
when:
{{action}}
then:
{{assertDecl}}
}


{{#Inputs}}
    static final def INPUTS{{key}}= [
    {{#value}}
        {{ident}}{{name}} {{#name}} : {{/name}} {{text}} {{sp}}
    {{/value}}
    ]
{{/Inputs}}

{{#Outputs}}
    static final def OUTPUTS{{key}}= [
    {{#value}}
        {{ident}}{{name}} {{#name}} : {{/name}} {{text}} {{sp}}
    {{/value}}
    ]
{{/Outputs}}

{{#Returned}}
    static final def RETURNED{{key}}= {{#value}}
        {{ident}}{{name}} {{#name}} : {{/name}} {{text}} {{sp}}
    {{/value}}
{{/Returned}}


}