package com.etz

import spock.lang.Specification;
import com.etz.replay.unit.context.JsonUtil;

class {{name}}Spec extends Specification {
void verify{{method}}() {
given:
{{subjectDecl}}
{{#mockDecl}}
    {{.}}
{{/mockDecl}}
when:
{{action}}
then:
{{assertDecl}}
}

static class Inputs{
def args=[
{{#Inputs}}
    {{.}}
{{/Inputs}}
]
}

static class Outputs{
def args=[]
}

}